@model LoginUser

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <a href="/"><p>Sign Up</p></a>
    <form asp-controller="Home" asp-action="LoginUser" method="POST">
    <div>
    <label asp-for="LoginEmail">Email: </label>
    <span asp-validation-for="LoginEmail"></span>
    <input asp-for="LoginEmail"/>
    </div>
    <div>
    <label asp-for= "LoginPassword">Password: </label>
    <span asp-validation-for="LoginPassword"></span>
    <input asp-for="LoginPassword"/>
    </div>
    <input type="submit" value="Log In"/>
    </form>
</div>