@model LoginUser

<div class="text-center">
    <h1 class="display-4">@ViewBag.Session.FirstName</h1>
    <a href="/logout"><p>Logout</p></a>
    <hr>
    <div>
      <p>@Model.LoginEmail</p>
    </div>
    <div>
    </div>
</div>